{% extends 'base.html.twig' %}

{% block title %}Számlázási címeim{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/templates/address.css" />
{% endblock %}

{% block id1 %}id="selected"{% endblock %}

{% block body %}
    <p id="newaddress-title">
        {{ pageTitle }}
    </p>

    <div id="newaddress-form">
        {{ form_start(newAddressForm) }}
            {{ form_row(newAddressForm.type) }}
            {{ form_row(newAddressForm.name) }}
            {{ form_row(newAddressForm.phonenumber) }}
            {{ form_row(newAddressForm.taxnumber) }}
            {{ form_row(newAddressForm.country) }}
            {{ form_row(newAddressForm.postcode) }}
            {{ form_row(newAddressForm.city) }}
            {{ form_row(newAddressForm.address) }}

            <p id="field-req-warning">A *-al jelölt mezők kitöltése kötelező!</p>

            {{ form(newAddressForm) }}
        {{ form_end(newAddressForm) }}
    </div>

    <p id="addr-title">Számlázási címeim:</p>

    {% if addresses|length > 0 %}
        <table id="address-list-tbl">
            <tr>
                <th>Típus</th>
                <th>Név</th>
                <th>Telefonszám</th>
                <th>Adószám</th>
                <th>Ország</th>
                <th>Irányítószám</th>
                <th>Város</th>
                <th>Utca</th>
                <th>Műveletek</th>
            </tr>

            {% for address in addresses %}
                <tr>
                    <td>
                        {% if address.type == 1 %}
                            Magán
                        {% else %}
                            Céges
                        {% endif %}
                    </td>

                    <td>{{ address.name }}</td>
                    <td>{{ address.phonenumber }}</td>
                    <td>{{ address.taxnumber }}</td>
                    <td>{{ address.country }}</td>
                    <td>{{ address.postcode }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.address }}</td>
                    
                    <td>
                        <a href="{{ path('address', { id: address.id }) }}" title="Módosítás">
                            <img src="images/edit.png" width="16">
                        </a>

                        <a href="{{ path('deleteaddr', { id: address.id }) }}" title="Törlés">
                            <img src="images/delete.png" width="16">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p id="no-record">Még nem adtál hozzá egy számlázási címet sem!</p>
    {% endif %}

{% endblock %}